@import url('https://fonts.cdnfonts.com/css/ds-digital');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');    
/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap');  */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/pexels-fwstudio-164005.jpg);
    color: white;
}

.device {
    margin-top: 50px;
    padding: 10px;
    border: 1px solid #2e2e2e;
    width: 410px;
    height: 650px;
    border-radius: 30px;
    background-color: #2e2e2e;
    box-shadow: 0px 0px 43px 2px #2e2e2e;
}


#output {
    font-size: xxx-large;
    font-family: 'DS-Digital', sans-serif;
    width: 390px;
    height: 100px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    background-color: #d3e0e0;
    border: 15px solid #5c656a;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5 ,90px );
    padding-top: 30px;
}

button{
    font-size: xx-large;
    background-color: #373840;
    margin: 5px ;
    border: #2e2e2e;
    box-shadow:  5px 7px 10px rgb(117, 117, 117) inset;
    box-shadow:  5px 7px 10px rgb(117, 117, 117) h-offset;
    border-radius: 15px;
    height: 70px;
    color: white;
    
}
button:hover {
    background-color: #d3e0e0;
    box-shadow:  5px 7px 10px #2e2e2e outset;
    color: #313840;

}
.delBtn:hover {
    background-color: #373840;
    color: white;
}

button:nth-of-type(1) {
    grid-column: 3/4;
}
button:nth-of-type(14) {
    grid-column: 4/5;
    grid-row: 4/6;
    height: 160px;
}
button:nth-of-type(1) {
    background-color: #945168;
}

/* Responsiveness */
@media only screen and (max-width:400px) {
    .device{
        background-color: #2e2e2e;
        width:98%;
        margin-top: 50px;
    }
    #output{
        width: 90%;
    }
}



/* e1bc90 */